@font-face {
    font-family: 'farsi';
    src: url('../fonts/A_Soraya.ttf');
}

@font-face {
    font-family: 'en';
    src: url('../fonts/UbuntuMono-Regular.ttf');
}

@font-face {
    font-family: 'logoTrain';
    src: url('../fonts/TrainOne-Regular.ttf');
}

@font-face {
    font-family: 'logoR';
    src: url('../fonts/Sacramento-Regular.ttf');
}